/* LandingPage.css */

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }

#intro {
    background-image: url('../asset/images/cover-image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 200px 0;
}

.intro-section {
  background-color: #f8f9fa;
  /* padding: 100px 0;
  text-align: center; */
}

.intro-section h1 {
  font-size: 4rem;
  color: #faf8f8;
}

.intro-section p {
  font-size: 1.5rem;
  color: #f3eded;
  margin-bottom: 40px;
}

.intro-section nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.intro-section nav ul li {
  display: inline;
  margin-right: 20px;
}

.intro-section nav ul li a {
  text-decoration: none;
  color: #007bff;
  font-size: 1.2rem;
}

.intro-section nav ul li a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.feature-section {
  padding: 80px 0;
  margin-right: 200px; /*added*/
}

.feature-section h2 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature img {
  width: 130%;
  /* width: 80vw; */
  /* max-width: 300px; */
  border-radius: 5px;
}

.feature h3 {
  font-size: 1.8rem;
  color: #007bff;
  margin-top: 20px;
}

.feature p {
  font-size: 1.1rem;
  color: #666;
}

.about-section {
  background-color: #f8f9fa;
  padding: 80px 0;
}

.about-section h2 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.about-section p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 20px;
}

.about-section h3 {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 20px;
}

.about-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-section ul li {
  margin-bottom: 10px;
}

.about-section ul li a {
  text-decoration: none;
  color: #007bff;
  font-size: 1.1rem;
}

.about-section ul li a:hover {
  text-decoration: underline;
}
